.booking-button {
    background-color: rgb(232, 205, 210);
    border-radius: 20px;
    font-family: georgia;
    color: black;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;

}
.contact-button {
    background-color: rgb(232, 205, 210);
    border-radius: 20px;
    font-family: georgia;
    color: black;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
}
.booking-button:hover, .contact-button:hover {
    background-color: rgb(62, 47, 50);
    color: white;
}
img {
    display: block;
    margin: 10px  auto;
    width: 80%;
    max-width: 900px;
    height: 350px;
    object-fit: cover;
}
h1{font-family: georgia;
    text-align: center;
    color: rgb(232, 205, 210);
font-size: 50px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
margin-bottom: 5px;
}
p{
    font-family: georgia;
    text-align: center;
    color: rgb(62, 47, 50);
    font-size: 20px;
}
nav a{
    font-family: georgia;
    text-decoration: none;
    color: rgb(62, 47, 50);
    font-size: 18px;
    
}
#cart-button {
    border-radius: 20px;
}
nav{
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    background-color: rgb(242, 232, 235 );
}
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
}
@media (max-width: 600px){ 
    .buttons-container {
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 100%;
        height: auto;}
    h1{font-size: 36px;
    }
    }   
    .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

.product-card {
    background-color: white;
    border: 2px solid rgb(232, 205, 210);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.add-to-cart {
    background-color: rgb(232, 205, 210);
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-family: Georgia;
    cursor: pointer;
    transition: 0.3s;
}
#uv-button {
    display: block;
    margin: 20px auto;
    background-color: rgb(232, 205, 210);
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-family: Georgia;
    font-size: 18px;
    cursor: pointer;
}
.add-to-cart:hover {transform: scale(1.1);}
